<div class="content clearfix mt10">
	<h2><span>猜猜喜欢</span><span>更多<i class="fa fa-angle-right ml10"></i></span></h2>
	<dl class="col-xs-6" ng-repeat="item in data">
		<dt><img ng-src="{{item.images}}"></dt>
		<dd>
			<h3>{{item.title}}</h3>
			<h4>{{item.content}}</h4>
			<p><span>{{item.save}}</span><b>{{item.price}}</b></p>
		</dd>
	</dl>
</div>
<div class="content clearfix mt10">
	<h2><span>猜猜喜欢</span><span>更多<i class="fa fa-angle-right ml10"></i></span></h2>
	<dl class="col-xs-6" ng-repeat="item in data">
		<dt><img ng-src="{{item.images}}"></dt>
		<dd>
			<h3>{{item.title}}</h3>
			<h4>{{item.content}}</h4>
			<p><span>{{item.save}}</span><b>{{item.price}}</b></p>
		</dd>
	</dl>
</div>